body {
  display: grid;
  justify-content: center; 
  align-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, rgba(37, 2, 37, 0.774), rgba(145, 7, 48, 0.692));
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 100px);
  grid-template-columns: repeat(3, 100px);
  grid-template:
    "item1 item1 item2 item2 item2"
    "item1 item1 item4 item4 item5"
    "item3 item3 item4 item4 item6";
  grid-gap: 10px;
  width: 500px;
  height: 300px;
}

div {
  padding: 10px;
  border-radius: 6px;
  font-size: 2rem;
  text-align: center;
}

.item1 {
  background-color: green;
  grid-area:item1;
}

.item2 {
  background-color: skyblue;
  grid-area:item2;
}

.item3 {
  background-color: orange;
  grid-area:item3;
}

.item4 {
  background-color: pink;
  grid-area:item4;
}

.item5 {
  background-color: darkgreen;
  grid-area:item5;
}

.item6 {
  background-color: rgb(51, 51, 2);
  grid-area:item6;
}