@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;    

}
.signUp {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(245 245 245);
    margin: 0 auto;
}

.signUp_titulo {
    text-align: justify;
    margin: 20px 10px 0px 30px;
}

.signUp_label {
    margin: 20px 0px 0px 30px;

}

.signUp_input {
    margin: 0px 20px 0px 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(189, 186, 186);
}

.signUp_input:focus {
    background-color: rgb(229, 226, 226);
    outline: none;
}

.signUp_textarea {
    margin: 0px 20px 0px 30px;
    border-radius: 4px;
    border: 1px solid rgb(189, 186, 186);
}

.signUp_textarea:focus {
    background-color: rgb(229, 226, 226);
    outline: none;
}

.signUp_label-inputradio {
    margin: 0px 30px;
}

.signUp_select {
    margin: 0px 40px 0px 30px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgb(189, 186, 186);
    height: 30px;
    background-color: white;
}

.signUp_select-checkbox {
    margin: 20px 0px 5px 30px;
   }

.signUp_input-Update {
    margin: 10px 0px 20px 30px;
}

.signUp_input-Update-submit {
    width: 70px;
    padding: 5px;
    background-color: rgb(51 122 183);
    color: white;
    border: none;
}

